{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
          <th>Budgeter Id</th>
          <th>Balance</th>
          <th>LastUpdate</th>
        </tr>
      </thead>
      <tbody>
        {% for item in summary %}
        <tr>
          <td>item.Budgeter_Id </td>
          <td>item.Balance</td>
          <td>item.Last_Update</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
  <div class="border-top pt-3">
    <small class="text-muted">
        Create An Item? <a class="ml-2" href="{{ url_for('butgetAction', id=bucketList_id, users=users) }}">Click Here</a>
    </small>
</div>
  </body>
  </html>
  {% endblock content %}